<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Campama CRM</h1>

  <h2>
    This is the home page for the Campama CRM
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

