<div class="single-sim clearfix">
  <%= f.select('sim_type', SimType.active.all.collect { |t| [t.kind, t.kind] }, {include_blank: 'None'}) %>
  <%= f.select('tariff', SimTariff.active.all.collect { |t| [t.tariff, t.tariff] }, {include_blank: 'None'}) %>

  <%= f.link_to_remove "", class: "glyphicon glyphicon-remove icon-remove" %>
</div>





