<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @order.surname %>
</p>

<p>
  <strong>Teudat zehud:</strong>
  <%= @order.tz %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>