
.simcard_field div .form-group {
  width: 95%;
  float: left;
}


.simcard_field .icon-remove {
  width: 4%;
  float: left;
  position: relative;
  top: 35px;
  left: 5px;
  color: #39a8ff;
  text-decoration: none;
}